<?xml version="1.0"?>
<!--
/**
 * Scandiweb_SliderGraphQl
 *
 * @category    Scandiweb
 * @package     Scandiweb_SliderGraphQl
 * @author      Kriss Andrejevs <info@scandiweb.com>
 * @copyright   Copyright (c) 2018 Scandiweb, Ltd (https://scandiweb.com)
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="ScandiPWA_SliderGraphQl" setup_version="0.1.0">
        <sequence>
            <module name="Scandiweb_Slider"/>
            <module name="Magento_GraphQl"/>
        </sequence>
    </module>
</config>
